# Env files — NEVER commit
**/.env
**/.env.local
**/.env.production

# DB files
backend/ratings.json
tgbot/subscribers.json

# Dependencies
**/node_modules/

# Build output
frontend/dist/

# Logs
**/*.log
pm2.log